In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
df = pd.read_csv("customer_churn.csv")

In [3]:
df = df.drop(columns=['customerID'])

In [4]:
df

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,Male,0,No,No,66,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   object
 3   Dependents        7043 non-null   object
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   object
 6   MultipleLines     7043 non-null   object
 7   InternetService   7043 non-null   object
 8   OnlineSecurity    7043 non-null   object
 9   OnlineBackup      7043 non-null   object
 10  DeviceProtection  7043 non-null   object
 11  TechSupport       7043 non-null   object
 12  StreamingTV       7043 non-null   object
 13  StreamingMovies   7043 non-null   object
 14  Contract          7043 non-null   object
 15  PaperlessBilling  7043 non-null   object
 16  PaymentMethod     7043 non-null   object
 17  MonthlyCharges    7043 non-null   float64
 18  TotalCharges      7043 non-null   object
 19  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(17)
memory usage: 1.1+ MB

In [6]:
df.shape

(7043, 20)

In [7]:
df.isnull().sum()

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [8]:
df.duplicated().sum()

22

In [9]:
df = df.drop_duplicates(inplace=True)

In [10]:
df.duplicated().sum()

AttributeError: 'NoneType' object has no attribute 'duplicated'

In [ ]:
df.columns

In [ ]:
df.head(20)

# Data manipulation

In [ ]:
#1) Find the number of male customers.

In [ ]:
df['gender'].value_counts()

In [ ]:
# Male=3555

In [ ]:
#2) Find the number of DSL users.

In [ ]:
df['InternetService'].value_counts()

In [ ]:
# DSL= 2421

In [ ]:
#3) Extract all the Female senior citizens whose Payment Method is Mailed check & store the result in ‘new_customer’

In [ ]:
New_customer = df[(df['gender']=='Female')& (df['SeniorCitizen']== 0) & (df['PaymentMethod']=='Mailed check')]

In [ ]:
New_customer

In [ ]:
#4). Extract all those customers whose tenure is less than 10 months or their Total charges is less than 500$ & store the result in ‘new_customer

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [ ]:
for i in df.columns:
    if df[i].dtypes=='object':
        df[i] = df[i].fit_transform(df[i])
        
df

In [ ]:
New_customer = df[(df['tenure']<10) | (df['TotalCharges']<500)]

In [ ]:
New_customer

# B Data Visualisation

In [ ]:
# A. Build a pie-chart to show the distribution of customers would be churning out

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [11]:
for i in df.columns:
    if df[i].dtypes=='object':
        df[i] = df[i].fit_transform(df[i])
        
df

AttributeError: 'NoneType' object has no attribute 'columns'

In [ ]:
df.dtypes

In [ ]:
df

In [ ]:
df["Churn"].value_counts()

In [ ]:
plt.figure(figsize=(15,10))
plt.pie(x='Churn',data=df,autopct='lambda',shadow=False,startangle =90)
plt.title("Pie chart showing churned customers")
plt.show()

In [ ]:
#B Build a bar-plot to show the distribution of ‘Internet Service’

In [ ]:
plt.figure(figsize=(15,10))
sns.boxplot(x='InternetService',data=df)
plt.title("Boxplot showing the Internet Charges of Customers")
plt.show()

# Train Test

In [ ]:
x = df['tenure']

In [ ]:
x

In [ ]:
y = df['Churn']

In [ ]:
y

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=43)

In [ ]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

# Model Building

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,Input,Dropout
from tensorflow import keras

In [ ]:
# model initialisation
model = keras.Sequential()
model.add(Dense(units=12,activation = 'relu'))
model.add(Dense(units=1,activation='softmax'))

In [ ]:
# model compiler
model.compile(optimizer='adam',loss='binary_cross_entropy',metrics='accuracy')

In [ ]:
model.fit(x=x_train,y=y_train,epochs=150,validation_data=(x_test,y_test))

In [ ]:
#Predict the values on the test set and build a confusion matrix

In [ ]:
# Checking the Predictions
Predictions = model.predict(x_test)

In [ ]:
Predictions

In [ ]:
from sklearn.metrics import *

In [ ]:
confusion_matrix(Predictions,y_test)

In [ ]:
train_loss= model.history.history["loss"]
val_loss = model.history.history["val_loss"]

plt.plot(train_loss)
plt.plot(val_loss)
plt.xlabel("Epochs")
plt.ylabel("Binary_class_Entropy")
plt.legend(["train","test"])
plt.grid()
plt.show()

In [ ]:
#Plot the ‘Accuracy vs Epochs’ graph

In [ ]:
train_loss= model.history.history["accuracy"]
val_loss = model.history.history["Epochs"]

plt.plot(train_loss)
plt.plot(val_loss)
plt.xlabel("Epochs")
plt.ylabel("Binary_class_Entropy")
plt.legend(["train","test"])
plt.grid()
plt.show()

# Model - 2

In [ ]:
# B) Build the 2nd model using same target and feature variables:

# Train And Test

In [ ]:
x = df['tenure']

In [ ]:
x

In [ ]:
y = df['Churn']

In [ ]:
y

# Model Building

In [ ]:
#Add a drop-out layer after the input layer with drop-out value of 0.3

In [ ]:
# model initialisation
model = keras.Sequential()
model.add(Dropout(0.3))
model.add(Dense(units=12,activation = 'relu'))
model.add(Dropout(0.2))
model.add(Dense(units=1,activation='softmax'))

In [ ]:
# model compiler
model.compile(optimizer='adam',loss='binary_cross_entropy',metrics='accuracy')

In [ ]:
model.fit(x=x_train,y=y_train,epochs=150,validation_data=(x_test,y_test))

In [ ]:
#Predict the values on the test set and build a confusion matrix

In [ ]:
# Checking the Predictions
Predictions = model.predict(x_test)

In [ ]:
Predictions

In [ ]:
confusion_matrix(Predictions,y_test)

In [ ]:
#Plot the ‘Accuracy vs Epochs’ graph

In [ ]:
train_loss= model.history.history["accuracy"]
val_loss = model.history.history["Epochs"]

plt.plot(train_loss)
plt.plot(val_loss)
plt.xlabel("Epochs")
plt.ylabel("Binary_class_Entropy")
plt.legend(["train","test"])
plt.grid()
plt.show()

# Model 3

In [ ]:
x = df['tenure','MonthlyCharges','TotalCharges']

In [ ]:
x

In [ ]:
y = df['Churn']

In [ ]:
y

In [ ]:
#The visible/input layer should have 12 nodes with ‘Relu’ as activation function.
#This model would have 1 hidden layer with 8 nodes and ‘Relu’ as activation function

In [ ]:
# model initialisation
model = keras.Sequential()
model.add(Input(12,activation='relu'))
model.add(Dense(units=8,activation = 'relu'))
model.add(Dense(units=1,activation='softmax'))

In [ ]:
#Use ‘Adam’ as the optimization algorithm

In [ ]:
# model compiler
model.compile(optimizer='adam',loss='binary_cross_entropy',metrics='accuracy')

In [ ]:
#Fit the model on the train set, with number of epochs to be 150

In [ ]:
model.fit(x=x_train,y=y_train,epochs=150,validation_data=(x_test,y_test))

In [ ]:
#Predict the values on the test set and build a confusion matrix

In [ ]:
# Checking the Predictions
Predictions = model.predict(x_test)

In [ ]:
Predictions

In [ ]:
confusion_matrix(Predictions,y_test)

In [ ]:
#Plot the ‘Accuracy vs Epochs’ graph

In [ ]:
train_loss= model.history.history["accuracy"]
val_loss = model.history.history["Epochs"]

plt.plot(train_loss)
plt.plot(val_loss)
plt.xlabel("Epochs")
plt.ylabel("Binary_class_Entropy")
plt.legend(["train","test"])
plt.grid()
plt.show()